.our-partners-shop {
    position: relative;
}


.img-partners {
    position: absolute;
    top: 135px;

    img {
        width: 1570px;
        height: 189px;
    }
}


.img-banner-partners {
    position: absolute;
}

.prada-logo {
    position: absolute;
    top: 217px;
    left: 215px;
    width: 176px ;
    height: 26px ;
}

.nike-logo {
    position: absolute;
    top: 203px;
    left: 435px;
    width: 128px;
    height: 54px;
}

.tsum-logo {
    position: absolute;
    top: 184px;
    left: 607px;
    width: 96px;
    height: 92px;
}

.adidas-logo {
    position: absolute;
     top: 194px;
    left: 747px;
    width: 109px;
    height: 71px;
}

.gum-logo {
    position: absolute;
    top: 199px;
    left: 900px;
    width: 79px;
    height: 62px;
}

.zara-logo {
    position: absolute;
    top: 215px;
    left: 1023px;
    width: 121px;
    height: 29px;
}

.pazolini-logo {
    position: absolute;
    top: 217px;
    left: 1188px;
    width: 197px;
    height: 25px;
}


.arrow-banner {
    position: absolute;
}

.banner-one {
    position: absolute;
    top: 210px;
    left: 155px;
}

.arrow-one {
    position: absolute;
    top: 222px;
    left: 170px;
}

.banner-two {
    position: absolute;
    top: 210px;
    left: 1405px;
}

.arrow-two {
position: absolute;
top: 222px;
left: 1422px;
}




.our-partners {
    position: absolute;
    font-size: 32px;
    color: #EB645A;
    top: 68px;
    left: 640px;
}


.info-partners {
    position: absolute;
    font-size: 24px;
    top: 384px;
    left: 575px;
    text-align: center;
    
}


.btn-partners {
    position: absolute;
    top: 474px;
    left: 630px;
    border-radius: 10px;
    border: none;
    width: 336px;
    height: 60px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: aqua;
    cursor: pointer;

    &:active {
        transform: scale(0.95); 
    }
}