.img-shop {
    position: relative; 
   

    > img:first-child {        
        display: block;
        width: 100%;
        height: auto;
    }


   
    .top-panel {
        position: absolute;
        top: 20px;
        left: 160px;
        right: 160px;           
        display: flex;         
        align-items: center;   
        justify-content: space-between;
        z-index: 2;
    }
    


    .icon {
        display: flex;
        gap: 10px;

        img {
            width: 53px;
            height: 53px;
            cursor: pointer;
        }
    }
}

.btn-shop {
    padding: 10px 20px;
    width: 216px;
    height: 53px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.phone {
    position: absolute;
    bottom: 0;
    left: 992px;
    z-index: 1;

    img {
        width: 340px;
        height: 697px;
    }
}

.menu-shop {
    position: absolute;
    top: 312px;          
    left: 268px;         
    z-index: 3; 

    img {
        width: 485px;
        height: 113px;
    }
}

.menu-entry {
    position: absolute;
    top: 275px;
    left: 541px;
    z-index: 4;

    img {
        width: 244px;
        height: 52px;
    }
}

.btn-app {
    position: absolute;
    background: transparent;
    top: 445px;
    left: 268px;
    z-index: 5;
    width: 224px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;

    > img {                    
        width: 34px;
        height: 42px;
    }
    
    .btn-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    
    .btn-subtitle {
        font-size: 13px;
        opacity: 0.8;
    }
    
    .btn-title {
        font-size: 25px;
        font-weight: bold;
    }
}

.btn-play {
    position: absolute;
    background: transparent;
    top: 445px;
    left: 512px;
    z-index: 6;
    width: 224px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;

    > img {                    
        width: 34px;
        height: 42px;
    }
    
    .btn-text {
        display: flex;
        flex-direction: column;
        color: white;
    }
    
    .subtitle {
        display: flex;
        font-size: 13px;
        color: white;
    }
    
    .text {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}

.btn-down {
    position: absolute;
    top: 770px;
    left: 662px;
    right: 661px;
    width: 277px;
    height: 51px;
    z-index: 7;
    border-radius: 10px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;

    > img {                    
        width: 27px;
        height: 12px;
    }
    
    .btn-text {
        display: flex;
        flex-direction: column;
        color: white;
    }
    
    .down-subtitle {
        color:white;
        font-size: 14px;
        opacity: 0.8;
        font-weight: bold;
    }
    
    .down-title {
        font-size: 14px;
        font-weight: bold;
        color: white;
    }
}

@media (max-width: 480px) {
    .img-fon {
        width: 390px !important;
        height: 709px !important;
    }
}

@media (max-width: 480px) {
    .icon,
    .btn-shop,
    .phone {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .menu-entry {
         width: 244px;
         height: 40px;
         top: 191px;
        left: 145px;
    }
}

@media (max-width: 480px) {
    .menu-shop  {
        top: 232px;
        left: 20px;
        text-align: center;

        img {
            width: 351px;
        height: 67px;
        }
    }
}

@media (max-width: 480px) {
    .btn-app {
        top: 357px;
        left: 90px;
        width: 224px;
        height: 64px;
    }
}

@media (max-width: 480px) {
    .btn-play {
        top: 441px;
        left: 90px;
        width: 224px;
        height: 64px;
    }
}

@media (max-width: 480px) {
    .btn-down {
        top: 684px;
        left: 60px;
        width: 277px;
        height: 51px;
    }

}


